body {
  background-color:#fff; 
	font-family: Arial, sans-serif;
}

img {
  width:200px;
  height:200px;
  border:solid 7px white;
	float:right;
	vertical-align:top;	
  box-shadow: 8px 8px 5px #aaa; 
}
p {
	font-family: Arial, sans-serif;
	font-size:12px;
}


header {
	margin-left: auto;
  margin-right: auto;
	width:1300px;
  background: #ddd;
	padding:1px;
  text-align:center;
	font-family: Arial, sans-serif;
}

h1 {
	font-family: Arial, sans-serif;
	font-size:25px;
}

h2 {
  font-size:20px;
	font-family: Tahoma, sans-serif;
}



ul {
  margin: auto;
  text-align:center;
}

li {
	display:inline-block;
	list-style-type: none;
	font-family: Arial, sans-serif;
}

nav a:link, nav a:visited, nav a:hover {
	color: #5496C1;
	letter-spacing: 1px;
	font-family: Arial, sans-serif;
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;
  border-bottom:1px dashed #333;
}

.content {
	width:700px;
	background-color:#fff;
  margin-left: auto;
  margin-right: auto;
	border-bottom: 1px solid #aaa;
}


aside, article
{
    display: inline-table;
    text-align: left;
}

section{
	text-align:center;
  width:200px;
	background-color:#Fff;
	padding:20px;
	border-right: 1px solid #aaa;
	display: inline-block;
}

article {
  background: #fff;
	width:500px;
  height: 230px;
	padding-left:20px;	
	margin-right:5px;
	margin-bottom:5px;
	padding-right:20px;
  border: 1px #aaa solid;

}
	
aside {
	text-align:left;
  padding-top: 20px;
	padding-left:20px;	
	padding-right:60px;
  float:right;
  width: 600px;
  background: #fff;
	font-family:11px;
}

footer {
  float:bottom;
  background: #fff;
  padding:1px;
  margin: auto;
  font-family:"Tahoma";
}
footer a:link, nav a:visited, nav a:hover {
	color: #5496C1;
	letter-spacing: 1px;
	font-family: Arial, sans-serif;
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;
  border-bottom:1px dashed #333;
}

